<div class="user-dashboard" >
    <br><br><br><br><br>
    <p style="text-align: center; font-size: xx-large; background-color: powderblue;" >Selecione una opcion a realizar en el panel lateral izquierdo</p>
                       
</div>